.footer {
  position: relative;
  &Img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35rem;
  }
  &__top {
    background: #1b1b1b;
    // backdrop-filter: blur(35.5px);
    padding: 1.5rem 0;

    ul {
      display: flex;
      justify-content: center;
      gap: 10rem;
      li {
        a {
          position: relative;
          color: #fff;
          font-size: 1.8rem;
          font-weight: 500;
          &::before {
            content: "";
            position: absolute;
            left: -5rem;
            top: 10%;
            width: 0.2rem;
            height: 80%;
            opacity: 0.3;
            background: #fff;
          }
        }

        &:first-child {
          a {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  &__Bottom {
    padding: 6rem 0;
    background: #000 url(../webImages/footer/back.webp) no-repeat;
    background-size: cover;
    &- {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
    }
    &_ {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1.4fr;
      color: #fff;
      gap: 4.6rem;
      margin-top: 3rem;

      &Box {
        .h4 {
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 2rem;
        }
        .h5 {
          color: #f2a057;
          font-size: 1.3rem;
          font-weight: 500;
          margin: 0;
          margin-bottom: 0.3rem;
        }
        .aabor {
          text-decoration-line: underline;
        }
        p {
          color: #7c7c7c;
          font-size: 1.6rem;
          font-weight: 400;
        }
        &_ {
          &2 {
            li {
              font-size: 1.4rem;
              font-weight: 400;
              a {
                color: #fff;
                font-size: 1.4rem;
              }
            }
          }
        }
        .footernum {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin-bottom: 2rem;
          &_l {
            width: 4rem;
            height: 4rem;
            border-radius: 0.6rem;
            background: rgba(255, 255, 255, 0.1);
            display: grid;
            place-items: center;
            img {
              width: 43%;
            }
          }
          &_r {
            li {
              font-size: 1.6rem;
              font-weight: 500;
              display: flex;
              gap: 1rem;
              line-height: 1;
              a {
                color: #fff;
              }
              span {
                color: #f2a057;
              }
            }
          }
        }
      }

      .social__icon {
        gap: 1.5rem;
        a {
          img {
            width: 4.8rem;
            height: 4.8rem;
            transition: .5s;
            &:hover {
                transform: rotate(720deg);
            }
          }
        }
      }
    }
    &A {
      display: grid;
      grid-template-columns: 0.8fr 1.4fr 1fr;
      color: #fff;
      gap: 10rem;
      margin: 3rem 0;
      align-items: end;

      &Box {
        ul.cer {
          display: flex;
          li:last-child {
            margin-left: 1.5rem;
          }
        }
        .visa {
          display: flex;
          gap: 1rem;
        }
        .social {
          display: flex;
          gap: 1rem;
        }
      }
    }
    &term {
      position: relative;
      padding-top: 6rem;
      ul {
        display: flex;
        gap: 5rem;
        justify-content: center;
        li {
          color: #929292;
          font-size: 1.5rem;
          font-weight: 400;
        }
        span {
          color: #929292;
          font-size: 1.5rem;
        }
        a {
          letter-spacing: 4.875px;
          color: #929292;
        }
      }
    }
  }
}


.footerbb {
  background: #1b1b1b;
    padding: 1.5rem 0;
    text-align: center;
    color: #fff;
    .container {
      display: flex;
      justify-content: center;
      gap: .5rem;

      a {
        color: #fff;
      }
    }
}