$primary-color: #000000;
$secondary-color: linear-gradient(108deg, #B27F2A 4.92%, #FFEA7C 67.46%, #B27F2A 85.22%);
$accent-color: #B27F2A;
$font-color: #000000;
$font-default-color: #fff;
$border-color: #222;
$font-weight: ( "regular": 400, "medium": 500, "bold": 900, );
$vertical-padding: 4rem 0;
$assetPath: "../webImages";